*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 64px;
    margin-bottom: 55px;
}

.header p{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 14px;
    margin-bottom:56px ;
    width: 954px;
    text-align: center;
}
.cardsimg{
  max-width: 157px;
  margin-bottom: 20px;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 5px;
     
 }
 .cards-items{
  display: flex;
  flex-direction: column;
  width: 243px;
  height: 464px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  background-color: #F2BABD;
  border: 1px solid;
  
  border-radius: 10px;
  
 }
 
.popup{
  display: none;
  z-index: 99;
  position: fixed;
  background-color: #FDEA84;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 365px;
  height: 163px;
  text-align: center;
}

.popup:target{
  display: block;
}

.popup-inner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;

}
.popup-inner p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.popup-inner a button{
  width: 136px;
  height: 33px;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent; /*to remove the button background color*/
  border: 1px solid;
}

.style-sheet-card img{
    max-width: 157px;
    margin-bottom: 20px;
}

.cards-item-header{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.cards-item-paragraph{
    max-width: 164px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
  }

  .cards-button{
    width: 136px;
    height: 33px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent; /*to remove the button background color*/
    border: 1px solid;

  }